@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {

    /* VARS */

    /* Font Sizes */

    --font-lg: 2.4em;
    --font-md: 1.8em;
    --font-sm: 1.6em;
    --font-xs: 1.4em;
    --font-xxs: 1.2em;

    /* Spacings */

    --spacing-lg: 6.4rem;
    --spacing-md: 3.2rem;
    --spacing-sm: 1.6rem;
}


/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

main {
    padding: 9.7rem var(--spacing-md) 0 var(--spacing-md);
}

h2 {
    padding: var(--spacing-lg) 0 var(--spacing-md) 0;
    font-size: var(--font-lg);
    text-transform: uppercase;
    color: #004675;
    font-weight: bold;
}

th, td {
    font-size: var(--font-sm);
}

p {
    margin-bottom: 0;
}

/* NAVBAR */

.navbar {
    background-color: #004675;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 12px 0 #00000070;
    padding: 0 var(--spacing-md) 0 var(--spacing-md);
}

.navbar-brand {
    padding: 0.7rem 0 0 0;
}

.navbar-nav {
    display: flex;
}

.link {
    padding: var(--spacing-sm);
    font-size: var(--font-md);
    text-transform: uppercase;
    color: white;
}

.link:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar-toggler-icon {
    font-size: var(--font-md);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

/* ASISTENCIAS */

#asistencias {
    padding-bottom: var(--spacing-lg);
}

/* ICON */

#upButton {
    display: none;
    position: fixed;
    right: 1.0rem;
    bottom: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
    transition: all 5s;
    opacity: 60%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #004675;
    margin-top: auto;
    padding: var(--spacing-sm) var(--spacing-lg);
}

footer p {
    font-size: var(--font-sm);
    text-transform: uppercase;
    color: white;
}

.spanFooter {
    font-weight: bold;
}

/* MEDIAS */

@media screen and (max-width: 576px) {
    
    th, td {
        font-size: var(--font-xxs);
    }
}